@model WebProject1.DAL.prisoner_transfer_request

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>prisoner_transfer_request</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.from_jail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.from_jail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.to_jail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.to_jail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.reason_of_transfer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.reason_of_transfer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.request_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.request_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.accept_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.accept_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.court_officer.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.court_officer.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.jailer.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.jailer.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.prisoner.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.prisoner.name)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
